In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('speeddating.csv')

In [3]:
df.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,b'',1.0,b'female',21.0,27.0,6.0,b'[4-6]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'0',b'0'
1,b'',1.0,b'female',21.0,22.0,1.0,b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,5.0,b'[6-8]',b'[5-6]',1.0,b'1',b'0',b'0'
2,b'',1.0,b'female',21.0,22.0,1.0,b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'Asian/Pacific Islander/Asian-American',b'1',...,b'[0-3]',b'[3-5]',7.0,NaN,b'[6-8]',b'[0-4]',1.0,b'1',b'1',b'1'
3,b'',1.0,b'female',21.0,23.0,2.0,b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'1',b'1'
4,b'',1.0,b'female',21.0,24.0,3.0,b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'Latino/Hispanic American',b'0',...,b'[0-3]',b'[3-5]',6.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'1',b'1'

In [4]:
col_list=['gender', 'age', 'race', 'age_o', 'samerace', 'attractive', 'sincere', 'intelligence', "funny", "ambition_partner", "gaming",'match']

In [5]:
df= df[col_list]

In [6]:
df.head()

,gender,age,race,age_o,samerace,attractive,sincere,intelligence,funny,ambition_partner,gaming,match
0,b'female',21.0,b'Asian/Pacific Islander/Asian-American',27.0,b'0',6.0,8.0,8.0,8.0,6.0,1.0,b'0'
1,b'female',21.0,b'Asian/Pacific Islander/Asian-American',22.0,b'0',6.0,8.0,8.0,8.0,5.0,1.0,b'0'
2,b'female',21.0,b'Asian/Pacific Islander/Asian-American',22.0,b'1',6.0,8.0,8.0,8.0,5.0,1.0,b'1'
3,b'female',21.0,b'Asian/Pacific Islander/Asian-American',23.0,b'0',6.0,8.0,8.0,8.0,6.0,1.0,b'1'
4,b'female',21.0,b'Asian/Pacific Islander/Asian-American',24.0,b'0',6.0,8.0,8.0,8.0,6.0,1.0,b'1'

In [7]:
df.isnull().sum()

gender                0
age                  95
race                  0
age_o               104
samerace              0
attractive          105
sincere             105
intelligence        105
funny               105
ambition_partner    712
gaming               79
match                 0
dtype: int64

In [8]:
null_percentage = df.isnull().sum() / len(df) * 100
null_percentage = null_percentage.sort_values(ascending=False)
print(null_percentage)

ambition_partner    8.498448
attractive          1.253282
sincere             1.253282
intelligence        1.253282
funny               1.253282
age_o               1.241346
age                 1.133922
gaming              0.942946
gender              0.000000
race                0.000000
samerace            0.000000
match               0.000000
dtype: float64

In [9]:
cols_to_drop = null_percentage[null_percentage > 5].index.tolist()
df.drop(cols_to_drop, axis=1, inplace=True)

In [10]:
data = df.copy()
data.dropna(inplace=True)

In [11]:
dropped_percentage = (1 - len(df) / len(data)) * 100
print(f"Percentage of dropped observations: {dropped_percentage:.2f}%")

Percentage of dropped observations: -2.95%

In [12]:
data=pd.get_dummies(data)

In [13]:
data

,age,age_o,attractive,sincere,intelligence,funny,gaming,gender_b'female',gender_b'male',race_b'Asian/Pacific Islander/Asian-American',race_b'Black/African American',race_b'European/Caucasian-American',race_b'Latino/Hispanic American',race_b'Other',samerace_b'0',samerace_b'1',match_b'0',match_b'1'
0,21.0,27.0,6.0,8.0,8.0,8.0,1.0,1,0,1,0,0,0,0,1,0,1,0
1,21.0,22.0,6.0,8.0,8.0,8.0,1.0,1,0,1,0,0,0,0,1,0,1,0
2,21.0,22.0,6.0,8.0,8.0,8.0,1.0,1,0,1,0,0,0,0,0,1,0,1
3,21.0,23.0,6.0,8.0,8.0,8.0,1.0,1,0,1,0,0,0,0,1,0,0,1
4,21.0,24.0,6.0,8.0,8.0,8.0,1.0,1,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,25.0,26.0,8.0,7.0,6.0,7.0,1.0,0,1,0,0,1,0,0,1,0,1,0
8374,25.0,24.0,8.0,7.0,6.0,7.0,1.0,0,1,0,0,1,0,0,1,0,1,0
8375,25.0,29.0,8.0,7.0,6.0,7.0,1.0,0,1,0,0,1,0,0,1,0,1,0
8376,25.0,22.0,8.0,7.0,6.0,7.0,1.0,0,1,0,0,1,0,0,1,0,1,0
8377,25.0,22.0,8.0,7.0,6.0,7.0,1.0,0,1,0,0,1,0,0,1,0,1,0

In [18]:
X = data[['attractive']]
y = data["match_b'1'"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

score = logreg.score(X_test, y_test)

cv_scores = cross_val_score(logreg, X, y, cv=5)

print('Accuracy (one feature):', score)
print('Cross-validation scores (one feature):', cv_scores)
print('Mean cross-validation score (one feature):', cv_scores.mean())

Accuracy (one feature): 0.8347665847665847
Cross-validation scores (one feature): [0.83660934 0.83660934 0.83660934 0.83712354 0.83650891]
Mean cross-validation score (one feature): 0.8366920924388654

In [23]:
X = data[["race_b'Latino/Hispanic American'"]]
y = data["match_b'1'"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

score = logreg.score(X_test, y_test)

cv_scores = cross_val_score(logreg, X, y, cv=5)

print('Accuracy (one feature):', score)
print('Cross-validation scores (one feature):', cv_scores)
print('Mean cross-validation score (one feature):', cv_scores.mean())

Accuracy (one feature): 0.8347665847665847
Cross-validation scores (one feature): [0.83660934 0.83660934 0.83660934 0.83712354 0.83650891]
Mean cross-validation score (one feature): 0.8366920924388654

In [ ]:
X = data[['age']]
y = data["match_b'1'"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

score = logreg.score(X_test, y_test)

cv_scores = cross_val_score(logreg, X, y, cv=5)

print('Accuracy (one feature):', score)
print('Cross-validation scores (one feature):', cv_scores)
print('Mean cross-validation score (one feature):', cv_scores.mean())

In [25]:
X = data[["funny", "gender_b'female'", "gaming"]] 
y = data["match_b'1'"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


logreg = LogisticRegression()

logreg.fit(X_train, y_train)

score = logreg.score(X_test, y_test)

cv_scores = cross_val_score(logreg, X, y, cv=5)

print('Accuracy (one feature):', score)
print('Cross-validation scores (one feature):', cv_scores)
print('Mean cross-validation score (one feature):', cv_scores.mean())

Accuracy (one feature): 0.8347665847665847
Cross-validation scores (one feature): [0.83660934 0.83660934 0.83660934 0.83712354 0.83650891]
Mean cross-validation score (one feature): 0.8366920924388654

In [26]:
X = data[['attractive']]
y = data["match_b'0'"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

score = logreg.score(X_test, y_test)

cv_scores = cross_val_score(logreg, X, y, cv=5)

print('Accuracy (one feature):', score)
print('Cross-validation scores (one feature):', cv_scores)
print('Mean cross-validation score (one feature):', cv_scores.mean())

Accuracy (one feature): 0.8347665847665847
Cross-validation scores (one feature): [0.83660934 0.83660934 0.83660934 0.83712354 0.83650891]
Mean cross-validation score (one feature): 0.8366920924388654

ALGO ESTA MAL SIN IMPORTAR COMO CAMBIE LAS VARIABLES DE X LOS MODELOS ME DAN EXACTAMENTE IGUAL

In [27]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X = data.drop('match_b\'1\'', axis=1)
y = data['match_b\'1\'']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

dt = DecisionTreeClassifier(max_depth=3)

dt.fit(X_train, y_train)

score = dt.score(X_test, y_test)

cv_scores = cross_val_score(dt, X, y, cv=5)

print('Accuracy:', score)
print('Cross-validation scores:', cv_scores)
print('Mean cross-validation score:', cv_scores.mean())

Accuracy: 1.0
Cross-validation scores: [1. 1. 1. 1. 1.]
Mean cross-validation score: 1.0

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
}

rfc = RandomForestClassifier(random_state=42)

grid_search = GridSearchCV(rfc, param_grid, cv=5)
grid_search.fit(X_train, y_train)

print(f"Best hyperparameters: {grid_search.best_params_}")
print(f"Best accuracy score: {grid_search.best_score_:.3f}")

score = grid_search.score(X_test, y_test)
print(f"Accuracy on testing data: {score:.3f}")

Best hyperparameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 50}
Best accuracy score: 1.000
Accuracy on testing data: 1.000

ACA TAMBIEN HAY ALGO EXTRAÃ‘O PERO NO LOGRO ENCONTRAR QUE ES :(